@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

/***/
.primary-border {
    @apply border border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-top {
    @apply border-t border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-bottom {
    @apply border-b border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-left {
    @apply border-l border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-right {
    @apply border-r border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-x {
    @apply border-x border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-y {
    @apply border-y border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}
/***/
.primary-divide-x {
    @apply divide-x divide-solid;
    @apply divide-light-secondary dark:divide-dark-secondary;
}
.primary-divide-y {
    @apply divide-y divide-solid;
    @apply divide-light-secondary dark:divide-dark-secondary;
}
/***/
.primary-background {
    @apply bg-light text-light-text;
    @apply dark:bg-dark-primary dark:text-dark-text;
}
.primary-background-reverse {
    @apply dark:bg-light dark:text-light-text;
    @apply bg-dark-primary text-dark-text;
}

.custom-justify-start {
    @apply justify-start
}

.custom-justify-center {
    @apply justify-center
}

.custom-justify-end {
    @apply justify-end
}
/***/
div#sonuc-bulunamadi{
    @apply w-full p-4 text-base select-none flex gap-2 bg-dark-secondary-text dark:bg-dark-secondary/80 text-gray-400 rounded mt-2 justify-center items-center
}
div#sonuc-bulunamadi .ico{
     @apply text-xl
}
/***/
html, body, * {
    @apply font-rubik;
}

main {
    @apply w-screen h-screen overflow-x-hidden overflow-y-auto flex-1 flex flex-col justify-start;
    @apply primary-background;
}
/***/
hr#separate{
    @apply border-light-secondary dark:border-light/40
}
.scrollbar-st{
    -webkit-overflow-scrolling: touch;
}
.scrollbar-st::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    @apply bg-[#F9FAFB] dark:bg-[#111827];
}

.scrollbar-st::-webkit-scrollbar
{
    width: 2px;
    height: 2px;
    @apply dark:bg-[#111827] bg-[#eee];
}
.scrollbar-st.sc-hide::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
    @apply dark:bg-[#111827] bg-[#eee];
}

.scrollbar-st::-webkit-scrollbar-thumb
{
    @apply dark:bg-[#27313f] bg-[#eee];
}
/***/
nav#desktop {
    @apply hidden md:flex;
    @apply flex-row flex-nowrap justify-between overflow-hidden whitespace-nowrap;
}

nav#desktop #toggle-theme{
    @apply ml-2
}

nav#mobile {
    @apply flex md:hidden;
    @apply flex-col flex-nowrap justify-between overflow-hidden whitespace-nowrap
}

nav#mobile #open-menu {
    @apply flex flex-col w-screen gap-y-2 primary-background z-50;
    @apply fixed left-0 bottom-0;
    @apply px-4 py-4;
    @apply transition-all ease-linear translate-y-full;
    height: calc(100vh - 4rem);
}

nav#mobile #open-menu.active {
    @apply translate-y-0;
}

nav#mobile section {
    @apply flex items-center w-full h-full justify-between
}

nav {
    @apply h-16 items-center;
    @apply primary-background;
    @apply primary-border-bottom;
}

/***/
nav #logo {
    @apply object-contain h-9 w-auto px-3 cursor-pointer;
    @apply transition-all ease-in;
}

nav #left,
nav #center,
nav #right {
    @apply flex flex-row p-1
}

/***/
footer {
    @apply flex justify-between w-screen px-3 py-2 items-center h-8;
    @apply primary-background;
    @apply primary-border-top;
}
footer #logo {
    @apply object-contain h-5 w-auto cursor-pointer grayscale hover:grayscale-0 transition-all
}

button.nav-link {
    @apply opacity-90 mx-1 font-normal transition-all ease-in-out;
    @apply text-light-text border-light-secondary;
    @apply dark:text-dark-text dark:border-dark-secondary;
    @apply hover:opacity-100 hover:text-primary hover:border-primary;
}


/***/
.btn1 {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    /*top: 100px;*/
    /*left: 0px;*/
    transition-duration: 0.5s;
    @apply scale-50;
}
.btn1 .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    left: 0px;
    @apply primary-background-reverse;
}
.btn1 .icon-left:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: -20px;
}
.btn1 .icon-left:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: 20px;
}
.btn1 .icon-left:hover {
    cursor: pointer;
}
.btn1 .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    @apply primary-background-reverse;
    left: 30px;
}
.btn1 .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: -20px;
}
.btn1 .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: 20px;
}
.btn1.open .icon-left {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.btn1.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.btn1.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.btn1.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.btn1:hover {
    cursor: pointer;
}
/***/
section#home{
    @apply flex flex-col h-screen-center;
}
section#home section#ticker{
    @apply flex h-16 min-h-16 primary-border-bottom;

}
section#home section#advanced{
    @apply flex flex-row h-screen-center-content
}
section#market-table{
    @apply primary-border-right h-full md:flex-advanced flex-auto;
    @apply flex flex-col;
}
section#market-table #tab{
    @apply bg-transparent rounded-none;
}
section#market-table #tab button{
    @apply flex-1 rounded-none;
    @apply text-light-text;
    @apply dark:text-dark-text;
    @apply bg-primary/20 hover:bg-primary/30;
    @apply transition-all ease-in-out;
}
section#market-table #tab button.Mui-selected{
    @apply bg-primary/70;
}
div#search form#search-form{
    @apply py-1;
    @apply flex items-center rounded-none;
    @apply primary-background border-none;
}
div#search form#search-form input#search-input{
    @apply primary-background primary-border text-sm;
    @apply focus:ring-0 focus:dark:ring-dark-secondary
}
div#search form#search-form button#search-reset{
    @apply primary-background primary-border rounded-none
}
div#search form#search-form button#search-reset .ico{
    @apply text-xl
}
div#search form#search-form button#favorites{
    @apply primary-background primary-border rounded-none;
    @apply flex items-center justify-center gap-x-1
}
div#search form#search-form button#favorites .ico{
    @apply text-xl hover:text-warning transition-all text-warning
}
div#search form#search-form button#favorites span{
    @apply text-xs flex items-center pt-0.5 pr-0.5
}
div#search form#search-form button#favorites.active span{
    @apply text-warning
}
/***/
div#market{
    @apply overflow-x-hidden overflow-y-auto h-full scrollbar-st;
}
div#market .market-title{
    @apply primary-background sticky top-0 z-10;
}
div#market .market-title .pair,
div#market .market-title .price,
div#market .market-title .percentage{
    @apply normal-case text-xs text-opacity-100
}

div#market .market-item,
div#market .market-title{
    @apply flex items-center justify-between;
    @apply text-xs;
}
div#market .market-item.active{
    @apply bg-light-selected dark:bg-dark-selected
}
div#market .market-item .pair,
div#market .market-title .pair{
    @apply basis-1/3 flex gap-0.5 items-center
}
div#market .market-item .pair .title{
    @apply pt-0.5;
}
div#market .market-item .pair .ico{
    @apply -translate-x-0.5 scale-110;
    @apply transition-all ease-in-out text-base;
    @apply hover:text-warning;
}
div#market .market-item.favorite .pair .ico{
    @apply text-warning;
}
div#market .market-item .price,
div#market .market-title .price{
    @apply basis-1/3 overflow-ellipsis whitespace-nowrap text-ellipsis
}
div#market .market-item .percentage,
div#market .market-title .percentage{
    @apply basis-1/3
}
div#market .market-item .pair,
div#market .market-item .price,
div#market .market-item .percentage,
div#market .market-title .pair,
div#market .market-title .price,
div#market .market-title .percentage
{
    @apply pl-1 first:pl-0;
    @apply text-light-text text-opacity-80 group-hover:text-opacity-100;
    @apply dark:text-dark-text dark:text-opacity-80 dark:group-hover:text-opacity-100 dark:group-hover:text-warning;
}
/***/
section#centre{
    @apply flex-1 flex-col
}
section#centre #tab{
    @apply bg-transparent rounded-none w-full;
}
section#centre #tab button{
    @apply flex-1 rounded-none;
    @apply text-light-text whitespace-nowrap h-8;
    @apply dark:text-dark-text;
    @apply bg-primary/20 hover:bg-primary/30;
    @apply transition-all ease-in-out;
}
section#centre #tab button.Mui-selected{
    @apply bg-primary/70;
}
/***/
section#chart{
    @apply flex-1 h-centre-top
}
/***/
section#orders{
    @apply primary-border-top flex-1;
    @apply flex relative;
    @apply h-centre-bottom max-h-centre-bottom;
}

section#orders #buys,
section#orders #sells{
    @apply flex-1;
    @apply overflow-x-hidden overflow-y-auto h-full max-h-full scrollbar-st;
}
section#orders .order-title{
    @apply primary-background sticky top-0 z-10;
}

section#orders .full-title *{
    @apply normal-case;
}


section#orders .order-title .total,
section#orders .order-title .price,
section#orders .order-title .amount{
    @apply normal-case text-xs text-opacity-100
}

section#orders div#order{
    @apply w-full
}

section#orders #buys div#order .order-item,
section#orders #buys div#order .order-title{
    @apply flex flex-row-reverse items-center justify-between;
    @apply text-xs;
}

section#orders div#order .order-item,
section#orders div#order .order-title{
    @apply flex items-center justify-between;
    @apply text-xs;
}

section#orders div#order .order-item.active{
    @apply bg-light-selected dark:bg-dark-selected
}


section#orders #buys div#order .order-item .total,
section#orders #buys div#order .order-title .total{
    @apply basis-1/3;
    @apply text-left;
}
section#orders #sells div#order .order-item .total,
section#orders #sells div#order .order-title .total{
    @apply basis-1/3;
    @apply text-right;
}


section#orders div#order .order-item .total .title{
    @apply pt-0.5;
}

section#orders #buys div#order .order-item .price,
section#orders #buys div#order .order-title .price{
    @apply text-right text-success;
}
section#orders #sells div#order .order-item .price,
section#orders #sells div#order .order-title .price{
    @apply text-left text-error;
}


section#orders div#order .order-item .price,
section#orders div#order .order-title .price{
    @apply basis-1/3 overflow-ellipsis whitespace-nowrap text-ellipsis;
}
section#orders div#order .order-item .amount,
section#orders div#order .order-title .amount{
    @apply basis-1/3
}
section#orders div#order .order-item .total,
section#orders div#order .order-item .price,
section#orders div#order .order-item .amount,
section#orders div#order .order-title .total,
section#orders div#order .order-title .price,
section#orders div#order .order-title .amount
{
    @apply pl-1 first:pl-0;
    @apply text-light-text text-opacity-80 group-hover:text-opacity-100;
    @apply dark:text-dark-text dark:text-opacity-80 dark:group-hover:text-opacity-100 dark:group-hover:text-warning;
}

/***/
section#buy-sell{
    @apply primary-border-left h-full md:flex-advanced flex-auto;
    @apply flex flex-col;
}
section#buy-sell #tab{
    @apply bg-transparent rounded-none;
}
section#buy-sell #tab button{
    @apply flex-1 rounded-none;
    @apply text-light-text;
    @apply dark:text-dark-text;
    @apply bg-primary/20 hover:bg-primary/30;
    @apply transition-all ease-in-out;
}
section#buy-sell #tab button.Mui-selected{
    @apply bg-primary/70;
}