@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
/***/
@layer base {
[multiple], [type=date], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], select, textarea{
    /*appearance: inherit;*/
    background-color: inherit;
    border-color: inherit;
    border-width: inherit;
    border-radius: inherit;
    padding: 16.5px 14px;
    font-size: initial;
    line-height: inherit;
    @apply focus:ring-0;
}
    [multiple]:-webkit-autofill,
    [type=date]:-webkit-autofill,
    [type=datetime-local]:-webkit-autofill,
    [type=email]:-webkit-autofill,
    [type=month]:-webkit-autofill,
    [type=number]:-webkit-autofill,
    [type=password]:-webkit-autofill,
    [type=search]:-webkit-autofill,
    [type=tel]:-webkit-autofill,
    [type=text]:-webkit-autofill,
    [type=time]:-webkit-autofill,
    [type=url]:-webkit-autofill,
    [type=week]:-webkit-autofill,
    select:-webkit-autofill,
    textarea:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 100px #F1F5F9 inset;
        -webkit-text-fill-color: #011627;
        caret-color: #011627;
        border-radius: inherit;
    }

    .dark [multiple]:-webkit-autofill,
    .dark [type=date]:-webkit-autofill,
    .dark [type=datetime-local]:-webkit-autofill,
    .dark [type=email]:-webkit-autofill,
    .dark [type=month]:-webkit-autofill,
    .dark [type=number]:-webkit-autofill,
    .dark [type=password]:-webkit-autofill,
    .dark [type=search]:-webkit-autofill,
    .dark [type=tel]:-webkit-autofill,
    .dark [type=text]:-webkit-autofill,
    .dark [type=time]:-webkit-autofill,
    .dark [type=url]:-webkit-autofill,
    .dark [type=week]:-webkit-autofill,
    .dark select:-webkit-autofill,
    .dark textarea:-webkit-autofill{
        -webkit-box-shadow: 0 0 0 100px #011627 inset;
        -webkit-text-fill-color: #F1F5F9;
        caret-color: #F1F5F9;
        border-radius: 0;
    }

}

/***/
.primary-border {
    @apply border border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-top {
    @apply border-t border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-bottom {
    @apply border-b border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-left {
    @apply border-l border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-right {
    @apply border-r border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-x {
    @apply border-x border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-y {
    @apply border-y border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}
/***/
.primary-divide-x {
    @apply divide-x divide-solid;
    @apply divide-light-secondary dark:divide-dark-secondary;
}
.primary-divide-y {
    @apply divide-y divide-solid;
    @apply divide-light-secondary dark:divide-dark-secondary;
}
/***/
.primary-background {
    @apply bg-light text-light-text;
    @apply dark:bg-dark-primary dark:text-dark-text;
}
.primary-background-reverse {
    @apply dark:bg-light dark:text-light-text;
    @apply bg-dark-primary text-dark-text;
}

.custom-justify-start {
    @apply justify-start
}

.custom-justify-center {
    @apply justify-center
}

.custom-justify-end {
    @apply justify-end
}
/***/
div#sonuc-bulunamadi{
    @apply w-full p-4 text-base select-none flex gap-2 bg-dark-secondary-text dark:bg-dark-secondary/80 text-gray-400 rounded mt-2 justify-center items-center
}
div#sonuc-bulunamadi .ico{
     @apply text-xl
}
/***/
html, body, * {
    @apply font-rubik scrollbar-st;
}

main {
    @apply w-screen h-screen overflow-x-hidden overflow-y-auto md:flex-1 flex flex-col justify-start;
    @apply primary-background;
}
#loader-1{
    @apply fixed z-100 ;
    @apply w-screen h-screen;
    @apply flex items-center justify-center flex-wrap p-5 gap-1;
    @apply primary-background;
}
/***/
hr#separate{
    @apply border-light-secondary dark:border-light/40
}
.scrollbar-st{
    -webkit-overflow-scrolling: touch;
}
.scrollbar-st::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
    @apply bg-[#F9FAFB] dark:bg-[#111827];
}

.scrollbar-st::-webkit-scrollbar
{
    width: 2px;
    height: 2px;
    @apply dark:bg-[#111827] bg-[#eee];
}
.scrollbar-st.sc-hide::-webkit-scrollbar
{
    width: 0px;
    height: 0px;
    @apply dark:bg-[#111827] bg-[#eee];
}

.scrollbar-st::-webkit-scrollbar-thumb
{
    @apply dark:bg-[#27313f] bg-[#eee];
}
/***/
nav#desktop {
    @apply hidden md:flex z-50;
    @apply flex-row flex-nowrap justify-between overflow-hidden whitespace-nowrap;
}

nav#desktop #toggle-theme{
    @apply ml-2
}

nav#mobile {
    @apply flex md:hidden w-full h-16 sticky top-0 z-50;
    @apply flex-col flex-nowrap whitespace-nowrap
}

nav#mobile #open-menu {
    @apply flex flex-col w-screen gap-y-2 primary-background z-50;
    @apply fixed left-0 bottom-0;
    @apply px-4 py-4;
    @apply transition-all ease-linear translate-y-full;
    height: calc(100vh - 4rem);
}

nav#mobile #open-menu.active {
    @apply translate-y-0;
}

nav#mobile section {
    @apply flex items-center w-full h-full justify-between
}

nav {
    @apply h-16 items-center;
    @apply primary-background;
    @apply primary-border-bottom;
}

/***/
nav #logo {
    @apply object-contain h-9 w-auto px-3 cursor-pointer;
    @apply transition-all ease-in;
}

nav #left,
nav #center,
nav #right {
    @apply flex flex-row p-1
}

/***/
footer {
    @apply flex justify-between w-screen px-3 py-2 items-center h-8;
    @apply primary-background;
    @apply primary-border-top;
}
footer #logo {
    @apply object-contain h-5 w-auto cursor-pointer grayscale hover:grayscale-0 transition-all
}

button.nav-link {
    @apply opacity-90 mx-1 font-normal transition-all ease-in-out;
    @apply text-light-text border-light-secondary;
    @apply dark:text-dark-text dark:border-dark-secondary;
    @apply hover:opacity-100 hover:text-primary hover:border-primary;
}


/***/
.btn1 {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    /*top: 100px;*/
    /*left: 0px;*/
    transition-duration: 0.5s;
    @apply scale-50;
}
.btn1 .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    left: 0px;
    @apply primary-background-reverse;
}
.btn1 .icon-left:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: -20px;
}
.btn1 .icon-left:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: 20px;
}
.btn1 .icon-left:hover {
    cursor: pointer;
}
.btn1 .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    @apply primary-background-reverse;
    left: 30px;
}
.btn1 .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: -20px;
}
.btn1 .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: 20px;
}
.btn1.open .icon-left {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.btn1.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.btn1.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.btn1.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.btn1:hover {
    cursor: pointer;
}

section.hero-section,
section#home,
section#market{
    @apply flex flex-col md:h-screen-center h-fit z-0;
}
/***/
section#home #slider{
    @apply flex;
    @apply h-screen-center-content
}
section#home #slider #banner-typography{
    @apply justify-center !bg-transparent;
    @apply px-4 gap-y-4;
}
section#home #slider #banner-typography .light{
    @apply absolute left-0 bottom-0 -z-1;
}
section#home #slider #banner-typography #head-text{
    @apply font-bold;
}
section#home #slider #banner-typography #head-text-sub{
    @apply font-thin;
}
section#home #slider #banner-typography #quick-register-email{
    @apply w-[80%];
}
section#home #slider #banner-typography #quick-register-email .quick-register-email-helper{
    @apply absolute top-full text-error
}
section#home #price-cards{
    @apply w-full h-32 py-3 px-2;
    @apply flex gap-x-3 items-center;
}
section#home #price-cards .head{
    @apply flex gap-x-4;
}
section#home #price-cards .item{
    @apply py-1 px-2 cursor-pointer select-none;
    @apply flex flex-col gap-1;
    @apply border-dashed border border-light-secondary/20 rounded;
    @apply -translate-y-2 scale-90 hover:scale-95 transition-all
}
section#home #price-cards .item .title{
    @apply font-medium text-xl;
}
section#home #price-cards .item .perc{
    @apply font-normal text-xl;
}
section#home #price-cards .item .price{
    @apply font-bold text-3xl;
}
section#home #price-cards .item .volume{
    @apply font-thin text-base;
    @apply flex gap-x-0.5 flex-nowrap;
}
section#home #price-cards .item .volume span:first-of-type{
    @apply text-sm
}
section#home #price-cards .item .volume span{
    @apply flex-1 flex items-center justify-center
}




section#home #slider #banner-image{
    @apply justify-center;
}
section#home #slider #banner-image img{
    @apply scale-105;
}

/***/
section#ticker{
    @apply flex h-16 min-h-16 primary-border-bottom select-none;
}
/***/
#select-pair{
    @apply fixed h-screen-center-content left-0 top-[8rem] z-50;
    @apply flex;
}
/***/
section#ticker #pair{
    @apply flex-advanced relative overflow-visible;
    @apply primary-border;
    @apply cursor-pointer transition-all ease-in-out;
    @apply flex items-center justify-center;
    @apply bg-light hover:bg-light-secondary;
    @apply dark:bg-dark-primary dark:hover:bg-dark-secondary;
}

section#ticker #items{
    @apply flex-1 flex items-center h-full py-0
}
section#ticker #items .item{
    @apply flex flex-col justify-center items-center flex-1 h-full;
    @apply p-0;
    @apply primary-border;
}
section#ticker #items .item .item-button{
    @apply flex flex-col justify-center items-center flex-1 w-full h-full;
    @apply px-2 py-1;
}
section#ticker #items .item span{
    @apply flex-1 flex items-center
}
/***/
section#advanced{
    @apply flex flex-col md:flex-row md:h-screen-center-content
}
/***/
section#market-table{
    @apply primary-border-right h-full md:flex-advanced flex-auto;
    @apply flex flex-col;
    @apply primary-background;
}
section#market-table.hidden{
    @apply !hidden;
}
section#market-table #tab{
    @apply bg-transparent rounded-none gap-1 mt-1 px-1;
}
section#market-table #tab button{
    @apply flex-1 rounded-none h-9 rounded-lg;
    @apply text-light-text;
    @apply dark:text-dark-text;
    @apply bg-primary/20 hover:bg-primary/30;
    @apply transition-all ease-in-out;
}
section#market-table #tab button.Mui-selected{
    @apply bg-primary/70;
}
div#search form#search-form{
    @apply py-1;
    @apply flex items-center rounded-none;
    @apply primary-background border-none;
}
div#search form#search-form input#search-input{
    @apply primary-background primary-border text-sm py-2;
    @apply focus:ring-0 focus:dark:ring-dark-secondary
}
div#search form#search-form button#search-reset{
    @apply primary-background primary-border rounded-none
}
div#search form#search-form button#search-reset .ico{
    @apply text-xl
}
div#search form#search-form button#favorites{
    @apply primary-background primary-border rounded-none;
    @apply flex items-center justify-center gap-x-1
}
div#search form#search-form button#favorites .ico{
    @apply text-xl hover:text-warning transition-all text-warning
}
div#search form#search-form button#favorites span{
    @apply text-xs flex items-center pt-0.5 pr-0.5
}
div#search form#search-form button#favorites.active span{
    @apply text-warning
}
/***/
div#market{
    @apply overflow-x-hidden overflow-y-auto h-full scrollbar-st;
}
div#market .market-title{
    @apply primary-background sticky top-0 z-10;
}
div#market .market-title .pair,
div#market .market-title .price,
div#market .market-title .percentage{
    @apply normal-case text-xs text-opacity-100
}

div#market .market-item,
div#market .market-title{
    @apply flex items-center justify-between;
    @apply text-xs;
}
div#market .market-item.active{
    @apply bg-light-selected dark:bg-dark-selected
}
div#market .market-item .pair,
div#market .market-title .pair{
    @apply basis-1/3 flex gap-0.5 items-center
}
div#market .market-item .pair .title{
    @apply pt-0.5;
}
div#market .market-item .pair .ico{
    @apply -translate-x-0.5 scale-110;
    @apply transition-all ease-in-out text-base;
    @apply hover:text-warning;
}
div#market .market-item.favorite .pair .ico{
    @apply text-warning;
}
div#market .market-item .price,
div#market .market-title .price{
    @apply basis-1/3 overflow-ellipsis whitespace-nowrap text-ellipsis
}
div#market .market-item .percentage,
div#market .market-title .percentage{
    @apply basis-1/3
}
div#market .market-item .pair,
div#market .market-item .price,
div#market .market-item .percentage,
div#market .market-title .pair,
div#market .market-title .price,
div#market .market-title .percentage
{
    @apply pl-1 first:pl-0;
    @apply text-light-text text-opacity-80 group-hover:text-opacity-100;
    @apply dark:text-dark-text dark:text-opacity-80 dark:group-hover:text-opacity-100 dark:group-hover:text-warning;
}
/***/
section#centre{
    @apply flex-1 flex-col
}
section#centre #tab-wrapper{
    @apply flex justify-between items-center;
    @apply bg-light-secondary dark:bg-dark-secondary;
}
section#centre div#fark{
    @apply md:flex hidden justify-between items-center gap-1;
    @apply text-sm px-3 pt-1 pb-0.5 rounded-lg select-none;
    /*@apply primary-background;*/
}

section#centre #tab-wrapper #tab{
    @apply bg-transparent rounded-none px-1 gap-1;
}
section#centre #tab button{
    @apply flex-1 rounded-lg my-0.5;
    @apply text-light-text whitespace-nowrap h-7;
    @apply dark:text-dark-text;
    @apply bg-primary/20 hover:bg-primary/30;
    @apply transition-all ease-in-out;
}
section#centre #tab button.Mui-selected{
    @apply bg-primary/70;
}
/***/
section#chart{
    @apply flex-1 md:h-centre-top
}
/***/
section#orders{
    @apply primary-border-top flex-1;
    @apply flex md:flex-row flex-col relative;
    @apply h-centre-bottom max-h-centre-bottom;
}

section#orders #buys,
section#orders #sells{
    @apply flex-1;
    @apply overflow-x-hidden overflow-y-auto h-full max-h-full scrollbar-st;
}
section#orders .order-title{
    @apply primary-background sticky top-0 z-10;
}

section#orders .full-title *{
    @apply normal-case;
}


section#orders .order-title .total,
section#orders .order-title .price,
section#orders .order-title .amount{
    @apply normal-case text-xs text-opacity-100
}

section#orders div#order{
    @apply w-full
}

section#orders #buys div#order .order-item,
section#orders #buys div#order .order-title{
    @apply flex md:flex-row-reverse items-center justify-between;
    @apply text-xs;
}

section#orders div#order .order-item,
section#orders div#order .order-title{
    @apply flex items-center justify-between;
    @apply text-xs;
}

section#orders div#order .order-item.active{
    @apply bg-light-selected dark:bg-dark-selected
}


section#orders #buys div#order .order-item .total,
section#orders #buys div#order .order-title .total{
    @apply basis-1/3;
    @apply md:text-left text-right;
}
section#orders #sells div#order .order-item .total,
section#orders #sells div#order .order-title .total{
    @apply basis-1/3;
    @apply text-right;
}


section#orders div#order .order-item .total .title{
    @apply pt-0.5;
}

section#orders #buys div#order .order-item .price,
section#orders #buys div#order .order-title .price{
    @apply md:text-right text-left text-success;
}
section#orders #sells div#order .order-item .price,
section#orders #sells div#order .order-title .price{
    @apply text-left text-error;
}


section#orders div#order .order-item .price,
section#orders div#order .order-title .price{
    @apply basis-1/3 overflow-ellipsis whitespace-nowrap text-ellipsis;
}
section#orders div#order .order-item .amount,
section#orders div#order .order-title .amount{
    @apply basis-1/3;
}
section#orders div#order .order-item .total,
section#orders div#order .order-item .price,
section#orders div#order .order-item .amount,
section#orders div#order .order-title .total,
section#orders div#order .order-title .price,
section#orders div#order .order-title .amount
{
    @apply pl-1 first:pl-0;
    @apply text-light-text text-opacity-80 group-hover:text-opacity-100;
    @apply dark:text-dark-text dark:text-opacity-80 dark:group-hover:text-opacity-100 dark:group-hover:text-warning;
}

/***/
section#buy-sell{
    @apply primary-border-left h-full md:flex-advanced flex-auto;
    @apply flex flex-col;
}
section#buy-sell #tab{
    @apply bg-transparent rounded-none;
}
section#buy-sell #tab button{
    @apply flex-1 rounded-none;
    @apply text-light-text;
    @apply dark:text-dark-text;
    @apply bg-primary/20 hover:bg-primary/30;
    @apply transition-all ease-in-out;
}
section#buy-sell #tab button.Mui-selected{
    @apply bg-primary/70;
}
/***/
section#login{
    @apply flex flex-col md:flex-row h-screen;
}
div#banner-split{
    @apply hidden md:flex relative
}
div.split{
    @apply flex-1;
    @apply flex flex-col items-center;
    @apply primary-background;
    background-size: 10px;
}
section > div.split{
    @apply bg-texture-pattern-light dark:bg-texture-pattern-dark;
    @apply primary-border;
    @apply p-6 relative overflow-hidden;
    @apply shadow-xl shadow-dark-primary;
}

div.split div#wrap{
    @apply h-full;
    @apply flex flex-col gap-y-4;
}

div.split .top{
    @apply flex flex-col gap-2 items-start
}
div.split .top .head{
    @apply flex gap-0.5 justify-between;
}


div.split #logo{
    @apply w-[100vh] h-auto object-contain;
    @apply absolute -left-1/2 top-1/2 -translate-y-1/2 rotate-90;
}
#title-bar{
    @apply py-8;
    @apply flex flex-col gap-y-4
}


#auth-title{
    @apply leading-6 mt-6 text-center;
    @apply font-bold font-rubik
}
#auth-title-info{
    @apply leading-6;
    @apply text-xl font-light font-rubik text-center mx-auto;
    @apply w-3/4
}

#auth-form{
    @apply flex flex-col gap-y-8 flex-1 relative
}

#auth-form #submit-form{
    @apply py-2;
    @apply absolute bottom-0 left-0;
}


#url-info{
    @apply flex flex-col gap-y-2 py-2 font-rubik;
    @apply text-center font-light select-none;
}
#url-info .url{
    @apply bg-light-secondary dark:bg-dark-secondary;
    @apply py-2 px-2 select-none;
    @apply rounded-full;
    @apply primary-border;
    @apply text-center font-light tracking-wide text-lg;
}
#url-info .url b{
    @apply text-success;
}

#login #step-nav{
    @apply absolute top-2 z-10 text-xl;
}
#login #step-nav.left{
    @apply left-2;
}
#login #step-nav.right{
    @apply right-5;
}

.verify-step .reactCodeInput{
    @apply !flex justify-center items-center w-full;
}
.verify-step .reactCodeInput input,
.verify-step .reactCodeInput input {
    @apply text-dark-primary dark:text-light text-4xl;
    @apply w-12 h-12 md:w-20 md:h-20;
}
.verify-step .reactCodeInput input::-webkit-outer-spin-button,
.verify-step .reactCodeInput input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.verify-step .verify-input-title,
.verify-step .verify-input-text{
    @apply text-center text-base;
}
.verify-step .verify-input-title{
    @apply py-2 text-lg;
}