@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/***/
.primary-border {
    @apply border border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-top {
    @apply border-t border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-bottom {
    @apply border-b border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-left {
    @apply border-l border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-right {
    @apply border-r border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-x {
    @apply border-x border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-border-y {
    @apply border-y border-solid;
    @apply border-light-secondary dark:border-dark-secondary;
}

.primary-background {
    @apply bg-light text-light-text;
    @apply dark:bg-dark-primary dark:text-dark-text;
}
.primary-background-reverse {
    @apply dark:bg-light dark:text-light-text;
    @apply bg-dark-primary text-dark-text;
}

.custom-justify-start {
    @apply justify-start
}

.custom-justify-center {
    @apply justify-center
}

.custom-justify-end {
    @apply justify-end
}

/***/
html, body, * {
    @apply font-rubik;
}

main {
    @apply w-screen h-screen overflow-x-hidden overflow-y-auto flex-1 flex flex-col;
    @apply primary-background;
}

/***/
nav#desktop {
    @apply hidden md:flex;
    @apply flex-row flex-nowrap justify-between overflow-hidden whitespace-nowrap;
}

nav#mobile {
    @apply flex md:hidden;
    @apply flex-col flex-nowrap justify-between overflow-hidden whitespace-nowrap
}

nav#mobile #open-menu {
    @apply flex flex-col w-screen gap-y-2 primary-background;
    @apply fixed left-0 bottom-0;
    @apply px-4 py-4;
    @apply transition-all ease-linear translate-y-full;
    height: calc(100vh - 4rem);
}

nav#mobile #open-menu.active {
    @apply translate-y-0;
}

nav#mobile section {
    @apply flex items-center w-full h-full justify-between
}

nav {
    @apply h-16 items-center;
    @apply primary-background;
    @apply primary-border-bottom;
}

/***/
nav #logo {
    @apply object-contain h-9 w-auto px-3 cursor-pointer;
    @apply transition-all ease-in;
}

nav #left,
nav #center,
nav #right {
    @apply flex flex-row p-1
}

nav #left {

}

nav#desktop #center {
    @apply flex-auto
}

nav#desktop #right {
    @apply flex-auto
}

footer {
    @apply flex justify-between w-screen px-3 py-2 items-center h-8;
    @apply primary-background;
    @apply primary-border-top;
}
footer #logo {
    @apply object-contain h-5 w-auto cursor-pointer grayscale hover:grayscale-0 transition-all
}

button.nav-link {
    @apply opacity-90 mx-1 font-normal transition-all ease-in-out;
    @apply text-light-text border-light-text;
    @apply dark:text-dark-text dark:border-dark-text/50;
    @apply hover:opacity-100 hover:text-primary hover:border-primary;
}


/***/
.btn1 {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    /*top: 100px;*/
    /*left: 0px;*/
    transition-duration: 0.5s;
    @apply scale-50;
}
.btn1 .icon-left {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    left: 0px;
    @apply primary-background-reverse;
}
.btn1 .icon-left:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: -20px;
}
.btn1 .icon-left:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: 20px;
}
.btn1 .icon-left:hover {
    cursor: pointer;
}
.btn1 .icon-right {
    transition-duration: 0.5s;
    position: absolute;
    height: 8px;
    width: 30px;
    top: 30px;
    @apply primary-background-reverse;
    left: 30px;
}
.btn1 .icon-right:before {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: -20px;
}
.btn1 .icon-right:after {
    transition-duration: 0.5s;
    position: absolute;
    width: 30px;
    height: 8px;
    @apply primary-background-reverse;
    content: "";
    top: 20px;
}
.btn1.open .icon-left {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-left:before {
    transform: rotateZ(45deg) scaleX(1.4) translate(4px, 4px);
}
.btn1.open .icon-left:after {
    transform: rotateZ(-45deg) scaleX(1.4) translate(4px, -4px);
}
.btn1.open .icon-right {
    transition-duration: 0.5s;
    background: transparent;
}
.btn1.open .icon-right:before {
    transform: rotateZ(-45deg) scaleX(1.4) translate(-4px, 4px);
}
.btn1.open .icon-right:after {
    transform: rotateZ(45deg) scaleX(1.4) translate(-4px, -4px);
}
.btn1:hover {
    cursor: pointer;
}
/***/
section#home{
    @apply flex flex-col h-full;
}
section#home section#ticker{
    @apply flex h-16 primary-border-bottom;

}
section#home section#advanced{
    @apply flex flex-row h-full
}
section#market-table{
    @apply primary-border-right h-full basis-1/5;
    @apply flex flex-col;
}

section#market-table #tab{
    @apply primary-background-reverse rounded-none
}
section#market-table #tab button{
    @apply flex-1
}